

.list-locker {
    width: 100%;
    display: flex;
    justify-content: center;
}

.border-list-locker {
    -ms-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    -o-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);

    border-radius: 24px;
    background: var(--black-1);

    width: 84.42%;
    height: 543px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-list-locker {
    overflow-y: auto;
    width: 90.6%;
    height: 89.87%;

    position: relative;

}



.locker{
    border-radius: 9px;
    background: var(--orange-1);
    width: 100%;
    height: 16.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.17%;

    margin-bottom: 10px;
}

.text-content{
    width: 67.9%;
}

.text-content h1,
.locker-size h1{
    margin: 0;
}

.text-content .locker-number{
    color: var(--black-3);
    font-weight: 800;
    font-size: 188%;
}

.text-content .locker-place{
    color: var(--black-1);
    font-weight: 400;
    font-size: 95%;
}



.locker-size{
    width: 21.59%;
    height: 81.48%;
    align-items: center;
    text-align: center;

}

.circle{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange-3);
    background: #242424;
    border-radius: 180px;

}


.circle h1{

    font-weight: 800;
    font-size: 200%;
}


.button-order{
    width: 100%;
    position: sticky;
    bottom: 5%;

    z-index: 2;


    display: flex;
    justify-content: center;



}

.button-order a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;


    background: var(--orange-2);
    border-radius: 60px;

    width: 188px;
    height: 36px;

    -ms-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	-o-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	-webkit-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	-moz-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);

}

.plus-image,
.order-text{


    display: flex;
    justify-content: center;

    text-align: center;
    align-items: center;
}

.order-text h1{
    width: fit-content;
    height: fit-content;

    margin: 0;

    font-weight: 700;
    color: var(--black-1);
    font-size: 125%;
}

