.locker-container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background: var(--orange-1);
    border-radius: 9px;

    margin-bottom: 20px;
}

.locker-link{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
}



.locker{


    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.text-content{
    width: 72vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.text-content h1,
.locker-size h1{
    margin: 0;
}

.text-content .locker-number{
    color: var(--black-3);
    font-weight: 800;
    font-size: 30px;
}

.text-content .locker-place{
    color: var(--black-1);
    font-weight: 400;
    font-size: 15px;
}



.locker-size{
    width: 23vw;
    height: auto ;

    display: flex;
    justify-content: center;

}

.circle{
    width: 100%;
    height: auto ;



    color: var(--orange-3);
    background: #242424;
    border-radius: 180px;

}


.circle h1{
    text-align: center;
    font-weight: 800;
    font-size: 32px;
}
