.text-center{
    margin: calc(8.691vh) 0 calc(2.58vh) 0;
    height: calc(17.597vh);

}


.account-navbar{
    width: 100%;
    height: calc(7.403vh);
    display: flex;
    justify-content: center;
    margin-bottom: calc(2.146vh);
}

.bar-profile{
    -ms-box-shadow:0px 5px 7px 1px rgba(0,0,0,0.32);
	-o-box-shadow:0px 5px 7px 1px rgba(0,0,0,0.32);
	-webkit-box-shadow:0px 5px 7px 1px rgba(0,0,0,0.32);
	-moz-box-shadow:0px 5px 7px 1px rgba(0,0,0,0.32);
	box-shadow:0px 5px 7px 1px rgba(0,0,0,0.32);

    border-radius: 24px;
    background: var(--black-3);


    height: 100%;
    width: calc(84.42vw);
}
.container-bar-profile{
    padding-left: 4.13%;
    height: 100%;
    width: 78.31%;
    display: flex;
    /* align-self: center; */
    justify-content: space-between;
}
.user-profile-name,
.user-bar-button{
    align-items: center;
    display: flex;
    height: 100%;
    width: fit-content;
    font-size: 125%;
}

.user-profile-name .greating {

    font-weight: 700;
    color: var(--white-1);

}

.user-profile-name .user-name {

    font-weight: 200;
    color: var(--orange-1);

}

.profile-button,
.logout-button{
    filter: brightness(0) invert(1) grayscale(100%);
}

.profile-button a img,
.logout-button a img{
    width: 100%;
}
