.locker-control{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(58.262vh);

    margin-top: 2vh;
}


.locker-controll-content{
    -ms-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    -o-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.32);

    border-radius: 24px;
    background: var(--black-1);
    max-width: 800px;
    width: 84.42%;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.locker-control-container{
    position: relative;
    border-radius: 9px;

    width: 90.6%;
    height: calc(52.361vh);
}


.locker-order{
    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.locker-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.locker-buttons button{
    width: 92.65%;

    min-height: calc(4.614vh);
    background: var(--orange-3);
    border-radius: 10px;

    align-items: center;
    outline: none;
    border: none;
}

.locker-buttons form{
    width: 100%;

    display: flex;
    justify-content: center;
}

.locker-buttons .button-unlock{
    display: flex;
    justify-content: center;
    gap: 5.57%;

}

.locker-buttons button h1{

    color: var(--black-1);
    font-size: 125%;
    margin: 0;
}


.locker-timer{

    width: 100%;

    position: sticky;

    top: 90%;
    display: flex;
    justify-content: center;

}


.locker-timer-content{
    /* width: fit-content;
    height: 100%; */


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;


    width: 188px;
    height: 36px;
    background: var(--orange-2);
    border-radius: 60px;

    -ms-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	-o-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	-webkit-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	-moz-box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
	box-shadow:1px 6px 6px 1px rgba(0,0,0,0.37);
}





